<p class="icons">
<span class="icons"><a href="/atom.xml">&#59194;</a><a href="http://creativecommons.org/licenses/by-sa/3.0/de/">&#128325;&#128326;&#128330;</a></span><span class="social-icons"><a href="https://www.facebook.com/jens.mayer">&#62221;</a><a href="https://plus.google.com/111775974068560084573">&#62224;</a><a href="https://twitter.com/winterriot">&#62218;</a><a href="http://www.flickr.com/photos/basq/">&#62212;</a><a href="http://www.last.fm/user/basq">&#62242;</a><br /></span>
</p>

<p>
<span class="credit">Some rights reserved: <a href="http://creativecommons.org/licenses/by-sa/3.0/de/">CC BY-SA 3.0</a> - {{ site.time | date: "%Y" }} by {{ site.author }} (<a href="/pages/impressum/">Impressum</a>)<br /></span> 
Powered by <a href="http://octopress.org">Octopress</a> - 
<a href="http://www.entypo.com">Entypo pictograms</a> by Daniel Bruce</span>
</p>
