---
layout: default
single: true
---

<div>

<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
    {% include post/author.html %} <span>in categories:</span> {% include post/categories.html %}
    </p>
    <p class="meta-pagination">
      {% if page.previous.url %}
      <span class="icons"><a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&#9198;</a></span>
      {% endif %}
      {% if page.next.url %}
      <span class="icons"><a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">&#9197;</a></span>
      {% endif %}
    </p>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
